<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>521883421376-gj27n83qsvriicv4mahqane5fkr4a6e6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.521883421376-gj27n83qsvriicv4mahqane5fkr4a6e6</string>
	<key>API_KEY</key>
	<string>AIzaSyCWB88SZXWVnJNRJt5BZB-TyEeHLyT9418</string>
	<key>GCM_SENDER_ID</key>
	<string>521883421376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.owl.tech.OwlStaging</string>
	<key>PROJECT_ID</key>
	<string>owltech-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>owltech-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521883421376:ios:6feff409742f8c1666bb25</string>
</dict>
</plist>