//
//  Staging.xcconfig
//  Owl
//
//  Created by Anastasia Holovash on 26.09.2022.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APP_ENVIRONMENT = staging

// App Settings
APP_NAME = OwlStaging

FIREBASE_CLIENT_ID = com.googleusercontent.apps.521883421376-689glh9cogtj7tnfa7e6ls1rnu28rho4
