<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>307301319513-ds5fkvmt742fguur5cuqrapcm7v4ltn6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.307301319513-ds5fkvmt742fguur5cuqrapcm7v4ltn6</string>
	<key>API_KEY</key>
	<string>AIzaSyC0RQssgNFxOVIZbbwkMvQ08eUYZB2IvtQ</string>
	<key>GCM_SENDER_ID</key>
	<string>307301319513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.owl.tech.Owl</string>
	<key>PROJECT_ID</key>
	<string>owltech-dfb4c</string>
	<key>STORAGE_BUCKET</key>
	<string>owltech-dfb4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307301319513:ios:6acaaf10ba56d03720c248</string>
</dict>
</plist>